@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "ABeeZee", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(23, 37, 84); /* blue-950 */
    padding: 2rem;
}

.origin {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-start;
}

#flag {
    width: 64px;
    height: 48px;
}

#originLabel {
    font-size: 1.8rem; /* text-3xl */
    color: white;
}

#word {
    font-size: 2.25rem; /* text-5xl */
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-all;
}

#word span {
    display: inline-block;
}

#message {
    text-align: center;
    color: rgb(254, 252, 232); /* amber-50 */
    font-size: 1rem; /* text-xl */
    padding: 1rem;
    margin-bottom: 4rem;
}
